
:root {
    font-size: 100%;

    --primary-color: white;
    --accent-color: #be5f77;
    --font-color: black;
    --card-color: white;
}

html[data-theme="light"] {
    /* Colors for light theme */
    --primary-color: white;
    --accent-color: #be5f77;
    --font-color: black;
    --card-color: white;
}

html[data-theme="dark"] {
    /* Colors for dark theme */
    --primary-color: #000000;
    --accent-color: #5f2f3b;
    --font-color: #ababab;
    --card-color: #2d2d2d;
}

body {
    background: var(--primary-color);
    color: var(--font-color);
    overflow-y: scroll;
}

nav {
    background: var(--accent-color);
    color: var(--font-color);
}

.page-footer {
    background: #2d2d2d;
    position: relative;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.navbar-nav a {
    font-size: 25px;
}

.nav-icon {
    outline: none;
    color: white;
}

.logo {
    height: 45px;
    width: 45px;
}

#themeSwitch {
    font-size: 25px;
    border: none;
    background: transparent;
    color: white;
}

.post {
    width: 25rem;
    margin: 7px;
    background: var(--card-color);
    color: var(--font-color);

}

.feed {
    padding: 0 10%;
}

.login-form {
    position: relative;
    left: 25%;
}

.submit-button {
    background: var(--accent-color);
    border: none;
}

.error-message {
    border-radius: 50%;
    background: orangered;
    color: white;
}

.heart-button {
    border: none;
    background: transparent;
    color: var(--font-color)
}

/* To prevent ugly outlines */
*:focus {
    outline: none !important;
}

.image-preview {
    max-width: 500px;
    height: auto;
}

.section-title {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    margin: 3rem;
    text-align: center;
}

.subsection-title {
    font-family: "Trebuchet MS", sans-serif;
    margin: 2rem;
    text-align: center;
}

.add-post-icon {
    position: center;
    font-size: 10rem;
    color: black;
}

.follow-tile {
    background: var(--card-color);
    color: var(--font-color);
}