{% extends 'base.html.jinja2' %}

{% block title %}
    <title>inscription</title>
{% endblock %}

{% block content %}
    <div class="container">
    <form method="POST" action="{{ url_for('auth.register') }}">
        <h1>Inscription</h1>
        {{ registration_form.hidden_tag() }}
        {{ registration_form.email(placeholder='Email') }}
        {{ registration_form.username(placeholder="Nom d'utilisateur") }}
        {{ registration_form.password(placeholder='Mot de passe') }}
        <button type="submit" >Inscription</button>
    </form>
    </div>
    <div class="container">
    <h2>Vous possédez déjà un compte ? Connectez-vous ici :</h2>
    <a href="{{ url_for('auth.login') }}"> Connexion</a>
    </div>
{% endblock %}
