{% extends 'base.html.jinja2' %}
{% from 'post/post.html.jinja2' import post_template %}

{% block title %}
    <title>Feed</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-sm-center flex-wrap feed">
        {% for post in posts %}
            {{ post_template(post) }}
        {% endfor %}
    </div>
{% endblock %}
