{# This template is necessary for AJAX to rerender the feed when we delete a post #}
<div id="feed" class="d-flex justify-content-sm-center flex-wrap feed">
    {% for post in posts %}
        {# Here we create an id for the post card (different from the post id), ~ is used for concatenation #}
        {# It will help us update this card, and only this card, when we "like" the post for example #}
        {% with post_card_id = 'post_card_'~post.id %}
            {{ post_template(post, post_card_id) }}
        {% endwith %}
    {% endfor %}
</div>
