{% extends 'base.html.jinja2' %}

{% block title %}
    <title>Création de post</title>

{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="section-title"> Créer un nouveau post</h1>
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{{ url_for('create_post.new_post_form') }}" enctype="multipart/form-data">
                    {# Hidden tag used for CSRF protection #}
                    {{ post_form.hidden_tag() }}
                    {{ post_form.crsf_token }}
                    <div class="form-group row" style="margin: 1em;">
                        <label class="col-sm-2 col-form-label">Ajouter une image</label>
                        <div class="col-sm-4">
                            {{ post_form.image() }}
                        </div>
                    </div>
                    <div class="form-group row" style="margin: 1em;">
                        <label class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-4">
                            {{ post_form.description(placeholder='Description', class='form-control') }}
                        </div>
                    </div>
                    <div class="form-group row" style="margin: 1em;">
                        <label class="col-sm-2 col-form-label">Tags</label>
                        <div class="col-sm-4">
                            {{ post_form.tags(placeholder='Tag', class='form-control') }}
                        </div>
                    </div>
                    {#                    <div data-module="Tokens" data-module-endpoint="tokens.json?q=${term}" data-module-strict="false"#}
                    {#                         data-action="focus">#}
                    {#                        <div data-name="tokensContainer"></div>#}
                    {#                        <input type="text"#}
                    {#                               name="value"#}
                    {#                               data-name="input"#}
                    {#                               data-action="search"#}
                    {#                               data-action-type="input"#}
                    {#                               placeholder="ajouter des tags">#}
                    {#                        <div data-name="resultsContainer">#}
                    {#                            {% for  %}#}
                    {#                            {{ post_form.tags(placeholder='Tag', class='form-control') }}#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <button type="submit" class="btn btn-primary submit-button" style="margin: 1em;">Poster</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@firstandthird/tokens@latest/dist/tokens.bundle.js"></script>
{% endblock %}
