<div class="modal fade" id="{{ 'modal_'~post_card_id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Post de {{ post.username }} | {{ post.date }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../static/images_storage/{{ post.image_name }}" class="card-img-top"
                     alt="Post {{ post.id }}">
                <p style="margin-top: 1rem">{{ post.description }}</p>
            </div>
            <div class="modal-footer">
                <div>
                    <h4 class="subsection-title">Commentaires</h4>
                    <ul class="list-group">
                        {% for comment in post.comments %}
                            <li class="list-group-item">{{ comment.body }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="dropdown-divider"></div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="{{ 'body'~post_card_id }}"
                               placeholder="Ajouter un commentaire">
                    </div>
                    <button onclick="add_comment({{ post.user_id }},{{ post.id }}, '{{ post_card_id }}')" type="button"
                            class="btn btn-primary">Commenter
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>