{# This macro is used to import the post template and avoid rewriting the same code again and again #}
{% macro post_template(post, post_card_id) %}
    <div id="{{ post_card_id }}">
        <div class="card post">
            <img src="../../static/images_storage/{{ post.image_name }}" class="card-img-top" alt="Post {{ post.id }}">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div id="post_body" data-bs-toggle="modal" data-bs-target="#{{ 'exampleModal'~post_card_id }}">
                        <div class="d-flex justify-content-sm-between flex-wrap">
                            <p>{{ post.description }}</p>
                            <button id="{{ 'button'~post_card_id }}" onclick="heart_post({{ post.id }})"
                                    class="heart-button" {% if post.current_user_liked_it %}
                                    style="color: indianred" {% endif %}><i
                                    class="bi bi-heart-fill"> {{ post.hearts }} </i></button>
                        </div>
                        <footer class="blockquote-footer">
                            <p>{{ post.username }} | {{ post.date }}</p>
                        </footer>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="{{ 'exampleModal'~post_card_id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Post de {{ post.username }} du {{ post.date }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="../../static/images_storage/{{ post.image_name }}" class="card-img-top"
                         alt="Post {{ post.id }}">
                    <p>{{ post.description }} </p>
                </div>
                <div class="modal-footer">
                    <p style="margin-right: 370px">Commentaires:</p>
                    <ul>
                        {% for comment in post.comments %}
                            <li style="margin-right: 370px">{{ comment.body }} </li>
                        {% endfor %}
                    </ul>
                    <form style="margin-right: 370px">
                        <div class="form-group">
                            <label>Commentaire</label>
                            <input type="text" class="form-control" id="{{'body'~post_card_id }}"  aria-describedby="body"
                            >
                        </div>

                        <button onclick="add_comment({{ post.user_id }},{{ post.id }}, '{{ post_card_id}}')" type="button"
                                class="btn btn-primary">ajouter le com
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{# This macro is used to import the post template with the "delete" option (for the profile page) and avoid rewriting the same code again and again #}
{% macro post_delete_template(post, post_card_id) %}
    <div id="{{ post_card_id }}">
        <div class="card post">
            <img src="../../static/images_storage/{{ post.image_name }}" class="card-img-top" alt="Post {{ post.id }}">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div id="post_body" data-bs-toggle="modal" data-bs-target="#{{ 'exampleModal'~post_card_id }}">
                        <div class="d-flex justify-content-sm-between flex-wrap">
                            <p>{{ post.description }}</p>
                            <button id="{{ 'button'~post_card_id }}" onclick="heart_post({{ post.id }})"
                                    class="heart-button" {% if post.current_user_liked_it %}
                                    style="color: indianred" {% endif %}><i
                                    class="bi bi-heart-fill"> {{ post.hearts }} </i></button>
                        </div>
                        <footer class="blockquote-footer">
                            <div class="d-flex justify-content-sm-between flex-wrap">
                                <p>{{ post.username }} | {{ post.date }}</p>
                                <button onclick="del_post({{ post.id }})" type="button" class="btn btn-danger">
                                    Supprimer
                                </button>
                            </div>
                        </footer>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="{{ 'exampleModal'~post_card_id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Post de {{ post.username }} du {{ post.date }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="../../static/images_storage/{{ post.image_name }}" class="card-img-top"
                         alt="Post {{ post.id }}">
                    <p>{{ post.description }} </p>
                </div>
                <div class="modal-footer">
                    <p style="margin-right: 370px">Commentaires:</p>
                    <ul>
                        {% for comment in post.comments %}
                            <li style="margin-right: 370px">{{ comment.body }} </li>
                        {% endfor %}
                    </ul>
                    <form style="margin-right: 370px">
                        <div class="form-group">
                            <label>Commentaire</label>
                            <input type="text" class="form-control" id="{{'body'~post_card_id }}"  aria-describedby="body"
                            >
                        </div>

                        <button onclick="add_comment({{ post.user_id }},{{ post.id }}, '{{ post_card_id}}')" type="button"
                                class="btn btn-primary">ajouter le com
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}



