<div id="post_body">
    <p>{{ post.description }}</p>
    <button id="{{ post.id }}" class="heart-button"><i
            class="bi bi-heart-fill"> {{ post.hearts }} </i></button>
    <footer class="blockquote-footer">{{ post.author }} | {{ post.date }}</footer>
</div>
