{% extends 'base.html.jinja2' %}
{% from 'profile/user_follow_tile_macro.html.jinja2' import user_follow_tile %}

{% block title %}
    <title>Abonnements</title>

{% endblock %}


{% block content %}
    <h1 class="section-title"> Les utilisateurs de Protogram </h1>
    <div class="container" style="max-width: 35rem">
        <ul class="list-group list-group-flush">
            {% for user in users %}
                <li class="list-group-item follow-tile" style="margin: 1rem">
                    {{ user_follow_tile(user, current_user) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
