{% extends 'base.html.jinja2' %}
{% from 'post/post_macro.html.jinja2' import post_template %}

{% block title %}
    <title>Profil</title>

{% endblock %}


{% block content %}
    <div>
        <h1>Profil de {{ current_user.username }}</h1>
        <a type="button" href="{{ url_for('create_post.new_post_form') }}" class="btn btn-outline-secondary"
           style="margin-left: 680px">Ajouter un post</a>
    </div>
    <div class="d-flex justify-content-sm-center flex-wrap feed">
        <h2>Vos posts</h2>
        {% for post in posts %}
            {# Here we create an id for the post card (different from the post id), ~ is used for concatenation #}
            {% with post_card_id = 'post_card_'~post.id %}
                {{ post_template(post, post_card_id) }}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}