{% extends 'base.html.jinja2' %}
{% from 'post/post_macro.html.jinja2' import post_template %}

{% block title %}
    <title>Profil</title>

{% endblock %}


{% block content %}
    <h1 class="section-title"> Bienvenue, {{ current_user.username }}.</h1>
    <h2 class="subsection-title">Vos posts</h2>
    <div class="d-flex justify-content-sm-center flex-wrap feed">
        <div class="card post text-center">
            <a type="button" href="{{ url_for('create_post.new_post_form') }}" class="my-auto"
               style="text-decoration: none"><i
                    class="bi bi-plus-circle-dotted add-post-icon"></i>
                <p>Ajouter un post</p></a>
        </div>
        {% for post in posts %}
            {# Here we create an id for the post card (different from the post id), ~ is used for concatenation #}
            {% with post_card_id = 'post_card_'~post.id %}
                <div>
                    {{ post_template(post, post_card_id) }}
                    <button onclick="del_post({{ post.id }})" type="button" class="btn btn-danger" style="width: 25rem">
                        Supprimer
                    </button>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
    <h2 class="subsection-title">Votre tableau de bord</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-text">Vous avez posté {{ number_images_user }} images ce qui représente</div>
                        <h5 class="card-title" style="margin-top: 0.75rem">{{ images_user_size }} Mb</h5>
                        <div class="card-text"></div>
                        de données stockées.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-text">Au total, {{ number_images_global }} images ont été postées, ce qui
                            représente
                        </div>
                        <h5 class="card-title" style="margin-top: 0.75rem">{{ images_global_size }} Mb</h5>
                        <div class="card-text"></div>
                        de données stockées.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-text">Au total, vous avez chargé {{ number_images_seen }} images au cours de
                            votre utilisation de Protogram, ce qui
                            représente
                        </div>
                        <h5 class="card-title" style="margin-top: 0.75rem">{{ images_seen_size }} Mb</h5>
                        <div class="card-text"></div>
                        de données consommées.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="subsection-title">Se déconnecter</h2>
    <div class="text-center">
        <a href="{{ url_for('auth.logout') }}"><i class="bi bi-box-arrow-right"
                                                  style="font-weight: bold; font-size: 3rem"></i></a>
    </div>
{% endblock %}
