{% extends 'base.html.jinja2' %}
{% from 'post/post_macro.html.jinja2' import post_delete_template %}

{% block title %}
    <title>Profil</title>

{% endblock %}


{% block content %}
    <h1 class="section-title"> Bienvenue, {{ current_user.username }}.</h1>
    <h2 class="subsection-title">Vos posts</h2>
    <div class="d-flex justify-content-sm-center flex-wrap feed">
        <div class="card post text-center">
            <a type="button" href="{{ url_for('create_post.new_post_form') }}" class="my-auto"
               style="text-decoration: none"><i
                    class="bi bi-plus-circle-dotted add-post-icon"></i>
                <p>Ajouter un post</p></a>
        </div>
        {% for post in posts %}
            {# Here we create an id for the post card (different from the post id), ~ is used for concatenation #}
            {% with post_card_id = 'post_card_'~post.id %}
                {{ post_delete_template(post, post_card_id) }}
            {% endwith %}
        {% endfor %}
    </div>
{#    <form method="POST" action="{{ url_for('profile.profile_index') }}">#}
        {# Hidden tag used for CSRF protection #}
{#        {{ comment_form.hidden_tag() }}#}
{#        <div class="form-group row" style="margin: 1em;">#}
{#            <label class="col-sm-2 col-form-label">Commentaire</label>#}
{#                        <div class="col-sm-4">#}
{#                {{ comment_form.post_id(placeholder="post id", class='form-control') }}#}
{#            </div>#}
{#            <div class="col-sm-4">#}
{#                {{ comment_form.body(placeholder="Commentaire", class='form-control') }}#}
{#            </div>#}
{#        </div>#}
{#        <button type="submit" class="btn btn-primary submit-button" style="margin: 1em;">Ajouter</button>#}
{#    </form>#}
    <h2 class="subsection-title">Se déconnecter</h2>
    <div class="text-center">
        <a href="{{ url_for('auth.logout') }}"><i class="bi bi-box-arrow-right"
                                                  style="font-weight: bold; font-size: 3rem"></i></a>
    </div>
{% endblock %}
